[ui]
username = Otto Land <autoland@example.com>
merge = internal:merge

[extensions]
purge =
rebase =
rewritecommitdescriptions = ${SRC_PATH}/hgext/rewritecommitdescriptions.py
set_landing_system = ${SRC_PATH}/hgext/set_landing_system.py
strip =

[paths]
upstream = http://hgweb/land-repo
test-repo = http://hgweb/test-repo
land-repo = http://hgweb/land-repo
try = http://hgweb/try
