[ui]
username = Otto Land <autoland@example.com>
merge = internal:merge

[extensions]
purge =
rebase =
rewritecommitdescriptions = ${SRC_PATH}/hgext/rewritecommitdescriptions.py
set_landing_system = ${SRC_PATH}/hgext/set_landing_system.py
strip =

[paths]
upstream = http://${HG_WEB_HOSTNAME}/${REPO_NAME}
